@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1020;
  --foreground: #e6eaf2;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}
